<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" />
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="bootstrap-social/bootstrap-social.css" />
    <link href="css/main.css" rel="stylesheet" />
    <link href="css/navbar.css" rel="stylesheet" />
    <title>WIRED login</title>
  </head>
  <body>
    <script src="js/main.js"></script>
    <%- include('navbar.ejs') %>
    <header class="jumbotron">
      <div class="container">
        <div class="row row-header">
          <div class="col-12 col-sm-7">
            <h1>WIRED Meetings</h1>
            <p>
              We believe that communication should make no diffrentiation , all
              people should have the same oppurtunity in communicating and
              having smooth interviews experience , disablities should never be
              obstacles !
            </p>
          </div>
          <div class="col-12 col-sm-5">
            <img src="images/image_2.jpg" class="img-fluid" alt="1" />
          </div>
        </div>
      </div>
    </header>
    <script>
      let errorHidden = false;
      if ("<%= message %>" == "") {
        errorHidden = true;
      }
      console.log(errorHidden);
    </script>
    <div class="container">
      <div class="row row-content allign-items-center">
        <div class="col-12 col-sm-8 offset-sm-2">
          <div class="alert alert-danger" role="alert" id="error">
            <%= message %>
          </div>
          <div class="card" id="id4">
            <h5 class="card-header"><b>Sign Up</b></h5>
            <div class="card-body">
              <form method="POST" action="/sign_up">
                <div class="form-group row">
                  <label for="firstname">First Name</label>
                  <input
                    id="firstname"
                    class="form-control"
                    type="text"
                    name="firstName"
                  />
                </div>
                <div class="form-group row">
                  <label for="lastname">Last Name</label>
                  <input
                    id="lastname"
                    class="form-control"
                    type="text"
                    name="lastName"
                  />
                </div>
                <div class="form-group row">
                  <label for="email">E-mail</label>
                  <input
                    id="email1"
                    class="form-control"
                    type="text"
                    name="username"
                  />
                </div>
                <div class="form-group row">
                  <label for="password">password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="password1"
                    name="password"
                  />
                </div>
                <div class="form-group row">
                  <label for="password2">Retype password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="password2"
                    name="passwordRe"
                  />
                </div>

                <div class="form-row">
                  <button
                    type="submit"
                    class="btn btn-info"
                    style="margin-left: 5px"
                  >
                    Sign Up
                  </button>
                </div>
              </form>
              <!-- <h5>or signup with</h5>

              <a class="btn google" href=""
                ><i class="fa fa-google fa-fw fa-lg"></i>sign up with google
                +</a
              > -->
              <div>
                <h5>Already a user ?</h5>
                <button
                  onclick="asd(2)"
                  id="id3"
                  type="button"
                  class="btn btn-info"
                >
                  Log in
                </button>
              </div>
            </div>
          </div>
          <div class="card" id="id2">
            <h5 class="card-header"><b>Log In</b></h5>
            <div class="card-body">
              <form method="POST" action="/login">
                <div class="form-group row">
                  <label for="email">E-mail</label>
                  <input
                    id="email"
                    class="form-control"
                    type="text"
                    placeholder="Type your email here"
                    name="username"
                  />
                </div>
                <div class="form-group row">
                  <label for="password">password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    placeholder="Type your password here"
                    name="password"
                  />
                </div>

                <div class="form-row">
                  <button
                    type="submit"
                    class="btn btn-info"
                    style="margin-left: 5px"
                  >
                    Log In
                  </button>
                </div>
              </form>
              <div>
                <a class="btn btn-info mt-2" href="/forgot"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-emoji-frown-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm-2.715 5.933a.5.5 0 0 1-.183-.683A4.498 4.498 0 0 1 8 9.5a4.5 4.5 0 0 1 3.898 2.25.5.5 0 0 1-.866.5A3.498 3.498 0 0 0 8 10.5a3.498 3.498 0 0 0-3.032 1.75.5.5 0 0 1-.683.183zM10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8z"
                    />
                  </svg>
                  forgot your password?</a
                >
                <h5>not a user ?</h5>
                <button
                  onclick="asd(1)"
                  type="button"
                  id="id1"
                  class="btn btn-info"
                >
                  Sign up
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS. -->
    <script src="jquery/dist/jquery.slim.min.js"></script>
    <script src="popper.js/dist/umd/popper.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
      $("document").ready(function () {
        $("#id4").hide();
      });
      error = document.querySelector("#error");
      error.hidden = errorHidden;
    </script>
  </body>
</html>
