<nav class="navbar navbar-expand-sm bg-light">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#Navbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
   
    <a class="navbar-brand mr-auto" href="#"> <i class="fa fa-plug" aria-hidden="true"></i>Wired &nbsp;</a>

    <div class="collapse navbar-collapse" id="Navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" id="m1" href="./index.html"
            ><span class="fa fa-home fa-lg"></span> Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" id="m2" href=""
            ><span class="fa fa-user-plus fa-lg"></span>sign up
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="m3" href=""
            ><span class="fa fa-coffee fa-lg"></span>Our Story</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
