<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-social.css" />
    <link href="/css/main2.css" rel="stylesheet" />
    <link href="css/navbar.css" rel="stylesheet" />
    <title>Our Story</title>
</head>

<body>
    <%- include('navbar.ejs') %>

    <div id="story1" class="jumbtron">
        
        
        
        <div class="row">
          <div class="col-xs-1 float-right  ">
            <div class="thumbnail">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                <img  class="im" src="./images/salah.jpg" alt="Lights"  class="img-circle">
                 </div>
                 <div class="flip-card-back">
                    <h1>Ahmed Salah</h1>
                    <p>MachineLearning Engineer</p>
                   
                </div>
            </div>
          </div>
            </div>
          </div>
          
          
          <div class="col col-xs-7">
            
        </div>
          <!-- <div class="col-sm-1 offset-3">
              <div class="thumbnail">
                  <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                <img  class="im" src="./images/ibrahim.jpg" alt="Nature" style="width:100%">
            </div>
            <div class="flip-card-back">
                <h1>John Doe</h1>
                <p>Architect & Engineer</p>
                <p>We love that guy</p>
            </div>
              
        </div>
    </div>
            </div>
        </div> -->
        
        <div class="col-xs-1 float-right">
            <div class="thumbnail">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img class="im" src="./images/fatma19.jpg" alt="Fjords" style="width:100%"style="height:100%"">
                </div>
                <div class="flip-card-back">
                    <h1>Fatma Elzahraa</h1>
                    <p>Web developer</p>
                    
                </div>
              
            </div>
        </div>
    </div>
</div>
</div>

<br>

<div class="row">
    <div class="col-xs-1 float-left">
      <div class="thumbnail">
          <div class="flip-card">
              <div class="flip-card-inner">
                  <div class="flip-card-front">
          <img  class="im" src="./images/hamied.jpg" alt="Lights"  class="img-circle">
           </div>
           <div class="flip-card-back">
              <h1>Abdelhamid Amr</h1>
              <p>MachineLearning Engineer</p>
              
          </div>
      </div>
    </div>
      </div>
    </div>
    
    <div class="col col-xs-7">
        <p class="paragraph"><b>A journey is about to start ,
        </b></p>
        <p class="paragraph"><b> this project was a heart filled initiative to help disabled people live it to the fullest </b></p>
            <p   class="paragraph"><b><em>and that is how science  , knowledge and experience 
                should be used ,</b></em></p>
                <p   class="paragraph"><b><em> this is the first vesion of a life time changing experience.</b></em></p>
        <p   class="paragraph"><b><em>WIRED MEETINGS TEAM</b></em></p>

    </div>
    <!-- <div class="col-sm-1 offset-3">
        <div class="thumbnail">
            <div class="flip-card">
              <div class="flip-card-inner">
                  <div class="flip-card-front">
          <img  class="im" src="./images/ibrahim.jpg" alt="Nature" style="width:100%">
      </div>
      <div class="flip-card-back">
          <h1>John Doe</h1>
          <p>Architect & Engineer</p>
          <p>We love that guy</p>
      </div>
        
  </div>
</div>
      </div>
  </div> -->
  
  <div class="col-xs-1 float-right">
      <div class="thumbnail">
          <div class="flip-card">
              <div class="flip-card-inner">
                  <div class="flip-card-front">
                      <img class="im" src="./images/mariam.jpg" alt="Fjords" style="width:100%">
          </div>
          <div class="flip-card-back">
              <h1>Mariam Salah</h1>
              <p>Web developer</p>
              
          </div>
        
      </div>
  </div>
</div>
</div>
</div>
<br>
<div class="row">
    <div class="col-xs-1 float-left">
      <div class="thumbnail">
          <div class="flip-card">
              <div class="flip-card-inner">
                  <div class="flip-card-front">
          <img  class="im" src="./images/ibrahim.jpg" alt="Lights"  class="img-circle">
           </div>
           <div class="flip-card-back">
              <h1>Ibrahim Atef</h1>
              <p>MachineLearning Engineer</p>
             
          </div>
      </div>
    </div>
      </div>
    </div>
    
    <div class="col col-xs-7">
         
    </div>
    <!-- <div class="col-sm-1 offset-3">
        <div class="thumbnail">
            <div class="flip-card">
              <div class="flip-card-inner">
                  <div class="flip-card-front">
          <img  class="im" src="./images/ibrahim.jpg" alt="Nature" style="width:100%">
      </div>
      <div class="flip-card-back">
          <h1>John Doe</h1>
          <p>Architect & Engineer</p>
          <p>We love that guy</p>
      </div>
        
  </div>
</div>
      </div>
  </div> -->
  
  <div class="col-xs-1 float-right">
      <div class="thumbnail">
          <div class="flip-card">
              <div class="flip-card-inner">
                  <div class="flip-card-front">
                      <img class="im" src="./images/mark.jpg" alt="Fjords" style="width:100%">
          </div>
          <div class="flip-card-back">
              <h1>Mark Sameh</h1>
              <p>Web developer</p>
              
          </div>
        
      </div>
  </div>
</div>
</div>
</div>

</div>
<!-- <div class="jumbtron">
        <div class="row row-content">
            
            <div class='col col-sm-5  '>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="./images/salah.jpg" alt="Avatar" style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>


                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="./images/ibrahim.jpg" alt="Avatar" style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>


                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="./images/hamied.jpg" alt="Avatar" style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>

            </div>

             <div class="col col-sm-6">
                <img class="mystory" src="./images/projectstory.jfif">
            </div> -->

            <!-- <div class='col col-sm-7  '>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="./images/hamied.jpg" alt="Avatar" style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>


                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="./images/hamied.jpg" alt="Avatar" style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>


                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="./images/hamied.jpg" alt="Avatar" style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>




            </div>




        </div>
    </div> -->


    <!-- <div class="row">
        <div class="col align-self-center">


        </div>

    </div>
    <div class="row">
        <div class="col align-self-end">


        </div>
    </div>
    </div>

    </div>
 -->



 







    <script src="/jquery/dist/jquery.slim.min.js"></script>
    <script src="/popper.js/dist/umd/popper.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/home.js"></script>
</body>

</html>