body{
   color: white ;
    
}
.card-header {
    background: rgb(44, 238, 238);
  background: linear-gradient(
    90deg,
    rgba(44, 238, 238, 1) 0%,
    rgba(48, 139, 147, 1) 50%,
    rgba(62, 138, 166, 1) 100%
  );
  color: white ;
}
.card-body{
    background-color: white ;
}

.card{
   margin-top: 90px;
  

}

 #content1 , #content2 , #content3 , #content4 {
     width: 150px;
     height:150px ;
     font-size : 30px;
     font-weight: bold ;
 }

 
 .myclass{
    padding-top: 30px;
  
}
.navbar-brand{
    font-family:"lucida handwriting" , cursive ,"papyrus";
}
.modal-header{
    background: rgb(44, 238, 238);
    background: linear-gradient(
      90deg,
      rgba(44, 238, 238, 1) 0%,
      rgba(48, 139, 147, 1) 50%,
      rgba(62, 138, 166, 1) 100%
    );
    color: white ;
}
.modal-body{
    background-color: white ;
    color:black;
}
